.App {
  /* text-align: center; */
}

.ant-select-selection-item {
  flex: none !important;
}

.header__container {
  width: 100%;
  display: flex;
}

.center__Form {
  margin: auto;
}

.rdp-column-container:nth-child(3) .rdp-masked-div{
  display: none;
}